<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- 1.사용할(XXXMapper.xml) 패키지명 포함 vo클래스를 alias선언 -->

	<typeAliases>
		<typeAlias alias="emp" type="springweb.z01_vo.Emp"/>
		<typeAlias alias="dept" type="springweb.z01_vo.Dept"/>
		<typeAlias alias="empdept" type="springweb.z01_vo.EmpDept"/>
		<typeAlias alias="code" type="springweb.z01_vo.Code"/>
		<typeAlias alias="member111" type="springweb.z01_vo.Member111"/>
		<typeAlias alias="salgrade" type="springweb.z01_vo.Salgrade"/>
	</typeAliases>

	<!-- 2. 사용 XXXMapper.xml을 추가 -->
	<mappers>
		<mapper resource="resource/A01_EmpMapper.xml"/>
		<mapper resource="springweb/homework/mapper/A01_EmpMapper.xml"/>
		<mapper resource="springweb/homework/mapper/A0130Mapper.xml"/>
		<mapper resource="springweb/homework/mapper/A0131Mapper.xml"/>
		<mapper resource="resource/A03_MemberMapper.xml"/>
	</mappers>

</configuration>
